
.flex {
    display: flex;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.pad-rem-half {
    padding: 0.5rem;
}