@import "variable.css";
@import "reset.css";
@import "common.css";

.navigation {
    padding: 1rem 0rem 0rem 0rem;
    background-color: var(--color-background1);
}

.head-top {
    /* border: 1px solid black; */
    color: var(--color-secondary);
    font-family: var(--font-lobster);
    z-index: 1;
    padding: 1rem;
}
.nav-top {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}
.container_subtext {
    width: 400px;
    height: 400px;
    line-height: 2;
    padding: 1rem 0rem 0rem 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}
.img-logo {
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    flex-grow: 1;
}
.button_large {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 1rem;
    width: 28%;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
}
.button_small {
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.75rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
}
.main_container {
    padding: 1rem;
    background-color: var(--color-background2);
}

.footer_nav {
    padding: 1rem 0rem;
    align-items: center;
    background-color: var(--color-background1);
}
.footer_text {
    padding-bottom: 0.5rem;
    color: var(--color-secondary);
}

.footer-links {
 gap: 2rem;
}

.no-border {
    list-style-type: none;
}

.center {
    text-align: center;
}
.icon-color {
    color: var(--color-primary);
}
