@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {

    /* Theme color */
    --color-primary: #105FD3;
    --color-secondary: #1072d3;

    --color-background1: rgb(196, 191, 191);
    --color-background2: rgb(191, 196, 196);
    --color-background-primary: hsl(56, 96%, 67%);
    --color-background-secondary: #d3d305;
    --button-background-primary: rgb(36, 36, 238);
    --button-background-secondary: rgb(91, 91, 214);

    /* Font-family */
    --font-lobster:'Lobster', cursive;
}