.list-layout {
    width: 60%;
    max-width: 500px;
    border: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: var(--size-one);
}
.ul-list, .ol-list {
    list-style-position: inside;
    font-weight: bold;
}

.list-heading {
    text-align: center;
    font-size: var(--size-one-five);
    margin-bottom: var(--size-one);
}

.spaced-item {
    list-style-type: none;
    border: 1px solid black;
    background-color: #1b1b1b;
    color: var(--white);
    padding: var(--size-zero-five);
}