.modal-btn {
    border: 1px solid black;
    padding: var(--size-zero-five);
    border-radius: 1px;
    font-size: large;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
}

.basic-modal {
    border: 1px solid black;
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 2rem;
    position: relative;
}
.dark-md {
    background-color: #121212;
    color: var(--white);
}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.md-heading {
    position: absolute;
    top: 0.5rem;
    left: o.5rem;
}
.md-body {
     position: absolute; 
    top: 5.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
.top-rt {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.btm-rt {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.demo-btn {
    width: 4rem;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
   background-color: var(--color-primary);
}
.btn-container {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    margin-bottom: 2rem;
}